---
import Slideshow from "./slideshow.astro";
import {getCollection} from "astro:content";
import type { CollectionEntry } from 'astro:content';
import type {Locale} from "@lib/locale";
import type {ImageMetadata} from "astro";

type Props = {
  title: string;
  background: ImageMetadata;
  locale: Locale;
  speed: number;
  tags: string[];
}
const { title, background, locale, speed, tags } = Astro.props;

const items: CollectionEntry<'portfolio'>[] = await getCollection('portfolio', ({ id, data }) =>
  id.startsWith(`${locale}/`) && tags.some(tag => data.tags.includes(tag)));
---


<!--TODO: on mobile, disable the gradient, make the title smaller and put slideshow under the title -->
<section class="portfolio-section h-fit transition-all" style={{ backgroundImage: `linear-gradient(to right,rgba(0,0,0,0.3),black), url(${background.src})`, backgroundSize: 'cover' }}>
  <!--Slideshow with header to the left-->
  <div class="flex h-fit flex-row justify-stretch items-center">
    <h1 class="size-fit mx-auto text-2xl p-20 text-shadow-[0_3px_5px_rgb(0_0_0_/_0.8)]">
      {title}
    </h1>

    <div class="flex-1 relative min-w-0 overflow-clip rounded-l-full relative h-full self-stretch pointer-events-none">
      <div class="absolute left-0 right-0 top-0 bottom-0 z-10">
        <div class="content-wrapper h-full">
        </div>
      </div>

      <Slideshow items={items} speed={speed}/>
    </div>
  </div>
</section>

<script>
  const sections = document.querySelectorAll<HTMLElement>('.portfolio-section');

  sections.forEach(section => {
    const contentWrapper = section.querySelector('.content-wrapper') as HTMLElement;

    contentWrapper.onclick = () => {
      clearContent(contentWrapper);
    }

    section.addEventListener('portfolio-item-select', (e) => {
      const { id } = (e as unknown as { detail: { id: string } }).detail;
      const prevId = contentWrapper.dataset.activeId;
      const template = document.getElementById(`portfolio-content-${id}`) as HTMLTemplateElement;

      clearContent(contentWrapper)

      if (prevId !== id) {
        const newNode = (template.content.cloneNode(true) as DocumentFragment).firstElementChild!;
        console.log(newNode);
        contentWrapper.appendChild(newNode);
        contentWrapper.dataset.activeId = id;

        requestAnimationFrame(() => {
          newNode.classList.add('is-visible');
        });
      }
    });
  });

  function clearContent(content: HTMLElement) {
    content.innerHTML = '';
    delete content.dataset.activeId;
  }
</script>
