---
import {Image} from 'astro:assets';
import type {CollectionEntry} from "astro:content";

type Props = {
  items: CollectionEntry<'portfolio'>[];
  speed: number;
}
const { items, speed } = Astro.props;

const duplicatedItems = [...items, ...items];
---

<div class="embla select-none" data-speed={speed}>
  <div class="embla__viewport">
    <div class="embla__container">
      {duplicatedItems.map((item) => (
        <div class="embla__slide relative group hover:z-10">
          <Image
            class="absolute p-2 h-full rounded-3xl transition-all duration-300 group-hover:scale-105 group-hover:brightness-50"
            src={item.data.image}
            alt={"Portfolio item: " + item.data.title}
          />

          <div class="absolute size-full flex items-center justify-center select-none pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p class="text-white font-bold text-xl scale-75 group-hover:scale-100 text-shadow-[0_3px_5px_rgb(0_0_0_/_0.8)] transition-transform">{item.data.title}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>

<script>
  import EmblaCarousel from 'embla-carousel';
  import AutoScroll from 'embla-carousel-auto-scroll'

  const OPTIONS = { loop: true, dragFree: true };
  const emblaNodes = document.querySelectorAll<HTMLElement>('.embla');

  emblaNodes.forEach((emblaNode) => {
    const scrollSpeed = Number(emblaNode.dataset.speed) || 1;
    const viewportNode = emblaNode.querySelector('.embla__viewport') as HTMLElement;

    if (viewportNode) {
      EmblaCarousel(viewportNode, OPTIONS, [AutoScroll({ speed: scrollSpeed })]);
    }
  });
</script>