---
import PageLayout from "@layouts/page-layout.astro";
import {DEFAULT_LOCALE, type Locale, LOCALES} from "@lib/locale.ts";
import Education from "@components/cv/education.astro";
import Abilities from "@components/cv/abilities.astro";
import Experience from "@components/cv/experience.astro";

export function getStaticPaths() {
  return [...LOCALES.map(it => ({params: {locale: it}})), {params: {locale: undefined}}];
}

const locale = (Astro.params.locale ?? DEFAULT_LOCALE) as Locale;

const D = {
  nl: {
    factDigital: "Leuk feitje: als je deze pagina print, krijg je mijn echte CV!",
    factPrint: [
      "Leuk feitje: deze pagina is een afdruk van thomassjerps.nl/cv!",
      "Op deze site kun je ook mijn portfolio vinden, en meer."
    ]
  },
  en: {
    factDigital: "Fun fact: if you print this page, you get my actual CV!",
    factPrint: [
      "Fun fact: this page is a print-out of thomassjerps.nl/cv!",
      "On this site, you can also find my portfolio and more."
    ]
  },
}

const dict = D[locale];
---

<PageLayout locale={locale}>
  <section>
    <div class='flex p-10 flex-wrap space-x-20 justify-stretch items-stretch w-[70%] mx-auto'>
      {/* Education / Abilities */}
      <div class='flex-1 flex flex-col space-y-20 print:w-[40%]'>
        <Education locale={locale}/>
        <Abilities locale={locale}/>
      </div>

      {/* Abilities */}
      <div class='flex-1/4 print:w-[60%]'>
        <Experience locale={locale}/>
      </div>
    </div>

  </section>

  {/* Printout comment */}
  <div class='text-center text-sm mt-6 mb-3 italic'>
    <p class='block print:hidden'>{dict.factDigital}</p>
    <p class='hidden print:block'>{dict.factPrint[0]}<br/>{dict.factPrint[1]}</p>
  </div>
</PageLayout>
