---
import PageLayout from "@layouts/page-layout.astro";
import {DEFAULT_LOCALE, type Locale, LOCALES} from "@lib/locale.ts";
import PortfolioSection from "@components/portfolio-section.astro";
import bgGroover from '@assets/portfolio_bg_groover.jpg';
import bgMusic from '@assets/portfolio_bg_music.jpg';
import bgProgramming from '@assets/portfolio_bg_programming.jpg';
import shirt from '@assets/shirt-2.png';

export function getStaticPaths() {
  return [...LOCALES.map(it => ({ params: { locale: it } })), { params: { locale: undefined } }];
}

const locale = (Astro.params.locale ?? DEFAULT_LOCALE) as Locale;
---

<PageLayout locale={locale}>
  <section class="flex flex-col bg-gray-900 text-center py-10 bg-center bg-cover text-shadow-[0_3px_5px_rgb(0_0_0_/_0.8)]" style={{ backgroundImage: `linear-gradient(to bottom, rgba(0,0,0,0.0),rgba(0,0,0,0.4)), url(${shirt.src})` }}>
    <h1>Portfolio</h1>
    <p>
      A small intro paragraph.
    </p>
  </section>

  <PortfolioSection locale={locale} background={bgProgramming} title="...programmeren:" speed={0.8} tags={["solo", "programming", "programmeren"]}/>
  <PortfolioSection locale={locale} background={bgGroover} title="...m'n studentenvereniging:" speed={1.0} tags={["association", "vereniging"]}/>
  <PortfolioSection locale={locale} background={bgMusic} title="...muziek:" speed={1.2} tags={["music", "muziek"]}/>
</PageLayout>
